<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${ sectionname }"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>

    <style>
        body {
            background-color: #eee
        }

        #mainbody {
            background-color: #fff;
            margin-top: 40px;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 40px;
        }

    </style>

</head>
<body>

<div th:replace="~{ navtemplate :: headnav(clientID=${ clientID }, redirectUri=${ redirectUri }) }">

</div>

<div class="container-fluid" id="mainbody">

    <div class="row">
        <div class="col-md-9">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> [[ ${ sectionname } ]]</h2>

            <div class="media" th:each="questionDto : ${ paginationDto.questionDtoList }">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${ questionDto.user.avatarUrl }" alt="" style="width: 64px; height: 64px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{ /question/{id}(id=${ questionDto.id }) }" th:text="${ questionDto.title }"></a>
                    </h4>
                    <span style="color: #999">[[ ${ questionDto.commentCount } ]]个回复 | [[ ${ questionDto.viewCount } ]]次浏览 | [[ ${ questionDto.likeCount } ]]人喜欢 | 提问时间：[[ ${ #dates.format(questionDto.gmtCreate, 'yyyy-MM-dd HH:mm') } ]]</span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination" style="float: right">
                    <li th:if="${ not paginationDto.hasPrevious }" class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:if="${ paginationDto.hasPrevious }">
                        <a th:href="@{ /profile/question(page=${ paginationDto.currentPage - 1 }) }" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="pageNum : ${ paginationDto.currentPageList }" th:class="${ paginationDto.currentPage == pageNum } ? 'active'">
                        <a th:href="@{ /profile/question(page=${ pageNum }) }">[[ ${ pageNum } ]]</a>
                    </li>

                    <li th:if="${ not paginationDto.hasNext }" class="disabled">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <li th:if="${ paginationDto.hasNext }">
                        <a th:href="@{ /profile/question(page=${ paginationDto.currentPage + 1 }) }" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>

        <div class="col-md-3">
            <br>
            <div class="list-group">
                <a th:href="@{ /profile/question }" th:class="${ section } == 'question' ? 'list-group-item active' : 'list-group-item'">我的问题</a>
                <a th:href="@{ /profile/reply }" th:class="${ section } == 'reply' ? 'list-group-item active' : 'list-group-item'">最新回复<span class="badge">14</span></a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>